* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #08001f, #30197d);
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 320px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.clock {
  text-align: center;
  font-size: 20px; /* Adjust the font size as needed */
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.clock span {
  position: relative;
  animation: blink 1s infinite alternate;
  transition: transform 0.3s ease-in-out;
}

.clock span::after {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.5rem;
  opacity: 0.5;
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
/* .clock #ampm {
  font-size: 1rem;
  margin-left: 5px;
} */
